@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(135deg, #000000, #0d0d0d, #1a1a1a, #262626, #333333, #4d4d4d, #1a1a1a, #000000);
  background-size: 200% 200%;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  animation: waterColorChange 5s ease infinite;
}

@keyframes waterColorChange {
  0% {
    background-position: 0% 50%;
    background-color: #000000;
  }
  25% {
    background-position: 50% 50%;
    background-color: #0d0d0d;
  }
  50% {
    background-position: 100% 50%;
    background-color: #1a1a1a;
  }
  75% {
    background-position: 50% 50%;
    background-color: #333333;
  }
  100% {
    background-position: 0% 50%;
    background-color: #000000;
  }
}


@keyframes rockAnimation {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.corpo {
  background-color: transparent;
  margin-top: 30px;
  text-align: center;
  font-size: 90px;
  font-family: 'Bebas Neue', sans-serif;
  color: #e63946;
  display: flex; 
  flex-direction: row;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8); 

  p{
    animation: rockAnimation 0.5s infinite alternate; 
  }

  .container{
    background-color: transparent;
  }

  @media (min-width: 300px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;

    img{
      width: 270px;
      height: 360px;
    }

    .container{
      background-color: #333333;
      width: 300px;
      border-radius: 20px;
      padding: 20px 20px 20px 20px;
    }
  }
}

.tocando{
  @media (min-width: 300px) {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-top: 40px;
  }
}


.par{
  background: linear-gradient(270deg, rgb(152, 0, 180) 0%, rgb(225, 0, 112) 102.13%) text;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  width: 100%;
  background-color: #1a1a1a;
  height: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-around;
  display: flex;
}

.detalhes{
  background-color: #333333;
  border-radius: 10px;
  width: 90%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Courier New", monospace;

  @media (min-width: 300px) {
    margin-top: 40px;

    .local{
      flex-direction: column;

      display: grid;
      place-items: center; 

      img{
        margin: 0 auto;
      }

      .place{
        padding-top: 20px;

        span {
          font-weight: bold;
        }
      }
    }

    .titulo{
      padding-top: 10px;
      font-size: 30px;
    }

  }
}

.local{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pinkfloyd{
  border-radius: 20px;
  margin-top: 40px;
  margin-right: 40px;
}

.actions{
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.rollingStones{
  height: 200px;
  margin-bottom: 60px;
  margin-top: 60px;

}

.data{
  @media (min-width: 300px) {
      font-size: 30px;
      font-family: 'Bebas Neue', sans-serif;
      color: #e63946;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8); 
  }
}
.queen{
  border-radius: 20px;
  margin-bottom: 30px;

  @media (min-width: 300px) {
    width: 300px;
    height: 200px;
  }
}

.comprar{
   width: 70%;
   margin-bottom: 20px;
   cursor: pointer;
}

.comprar:active {
  background-color: #a94442; 
  border-color: #a94442; 
}

